.tweets-container{
    padding: 2px 4px;
    display: flex;
    align-items: center;
    width: 400px;
    margin: 20px auto;
}

.tweet-input{
    margin-left: 8px;
    flex: 1;
}

.tweets-icon{
    padding: 10px;
}